:root {
  --primary-dark: #1E1E1E; 
  --secondary-dark: #0D0D0D;
  --surface: #2A2A2A;

  --accent: #8A00FF;
  --accent-hover: #5E00B2;

  --text-main: #FFFFFF;
  --text-secondary: #CCCCCC;
  --text-muted: #888888;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #ffffff;
  overflow-x: hidden;
}